# Node.js dependencies
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build output
/dist
/build
/public

# Temporary files
*.swp
*.swo

# IDEs and editors (ignore IDE-specific files)
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
/coverage

# Optional npm cache
.npm

# dotenv environment variables file
.env.*

# Next.js build
.next/
